<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Database Project</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    </head>

    <body>

        <div class="container">

            <div class="row">

                <!-- My Personal Info -->
                <div class="col-md-12">
            
                    <div class="p-3 text-center bg-light">
            
                        <h1>Welcome, Regular User.</h1>
                        <p class="lead">Manage your account here.</p>

                        <button type="submit" class="btn btn-dark btn-sm">Reset Password</button>
                        <button onclick="location.href='/logout';" class="btn btn-dark btn-sm">Log Out</button>

                        <button type="submit" class="btn btn-danger btn-sm">Delete Account</button>
            
                    </div>
            
                </div>

                <!-- My Camera Reports -->
                <div class="col-md-12 mt-3">
            
                    <div class="p-3 text-center bg-dark text-white">
            
                        <h1>My Camera Reports</h1>
                        <p class="lead">Camera reports submitted by you are shown here.</p>
            
                        <div class="table-responsive" style="max-height: 335px; overflow-y: auto;">
            
                            <table class="table table-secondary table-striped">
            
                                <thead>
                                    <tr>
                                        <th scope="col">Report ID</th>
                                        <th scope="col">Camera Type</th>
                                        <th scope="col">Camera Location</th>
                                        <th scope="col">Camera Picture Link</th>
                                        <th scope="col">Submitted On</th>
                                        <th scope="col">Report Status</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
            
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>MSC</td>
                                        <td>Airport Road</td>
                                        <td>www.sit.com</td>
                                        <td>10 October 2023</td>
                                        <td>Not Reviewed Yet</td>
                                        <td><button type="submit" class="btn btn-success btn-sm">Edit Report</button></td>
                                        <td><button type="submit" class="btn btn-danger btn-sm">Delete Report</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>FSC</td>
                                        <td>Orchard Road</td>
                                        <td>www.sit.com</td>
                                        <td>11 October 2023</td>
                                        <td>Rejected</td>
                                        <td colspan="2"><button type="submit" class="btn btn-danger btn-sm">Delete Report</button></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>MSC</td>
                                        <td>Fort Road</td>
                                        <td>www.sit.com</td>
                                        <td>12 October 2023</td>
                                        <td>Approved</td>
                                        <td colspan="2"></td>
                                    </tr>
                                </tbody>
            
                            </table>
                                    
                        </div>
            
                    </div>
            
                </div>

            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        </div>

    </body>

</html>